<form
  class="needs-validation"
  novalidate
  [formGroup]="form"
  style="padding-top: 10px"
>
  <div class="form-row">
    <div class="col-sm-12 mb-3">
      <label for="nome">Nome do curso</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome do curso"
        formControlName="nome"
        [ngClass]="{ 'is-invalid': submitted && hasError('nome') }"
      />
      <div
        class="invalid-feedback"
        *ngIf="form.get('nome')?.hasError('required')"
      >
        Por favor informe um nome para o curso.
      </div>

      <div
        class="invalid-feedback"
        *ngIf="form.get('nome')?.hasError('minlength')"
      >
        Nome precisa ter no mínimo 3 caracteres.
      </div>

      <div
        class="invalid-feedback"
        *ngIf="form.get('nome')?.hasError('maxlength')"
      >
        Nome precisa ter no máximo 10 caracteres.
      </div>
    </div>
  </div>

  <div style="margin-top: 10px">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
      Salvar
    </button>
    <button type="submit" class="btn btn-default" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
