<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="col-sm-12">
      <label for="nome" class="form-label">Nome</label>
    </div>

    <input
      type="text"
      class="form-control"
      id="nome"
      placeholder="Nome"
      aria-describedby="emailHelp"
      formControlName="nome"
      required
    />

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="
        formulario.controls['nome'].invalid &&
        formulario.controls['nome'].touched
      "
    >
      Nome é obrigatório
    </div>
  </div>
  <br />

  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="nome@email.com"
      aria-describedby="emailHelp"
      formControlName="email"
      required
      email
    />

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="
        formulario.controls['email'].invalid &&
        formulario.controls['email'].touched
      "
    >
      Nome é obrigatório
    </div>
  </div>

  <button type="submit" class="btn btn-primary mt-3 me-3">Submit</button>

  <button class="btn btn-primary mt-3" (click)="resetar()">Cancelar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
